$account-setting-width: 40vw;
$account-setting-height: 90vh;
.account-setting {
    font-size: 14px;
    top: calc((100vh - $account-setting-height) / 2);
    height: fit-content;
    max-height: $account-setting-height;
    width: $account-setting-width;
    min-width: fit-content;
    left: calc((100vw - $account-setting-width) / 2);
    right: calc((100vw - $account-setting-width) / 2);
    overflow: scroll;
    
    & .header{
        display: flex;
        & h2{
            margin: 0;
        }
        & svg{
            margin-right: 10px;
        }
        & .close-button{
            float: right;
            text-align: right;
            margin: auto;
            margin-right: -10px;
        }
    }

    & .close-button {
        color: black;
        background: transparent;
        border: 0;
        align-items: right;
        float: right;
        margin-top: 0;
    }

    & .pop-up-input {
        //margin-right: 0;
        margin-top: auto;
        margin-left: 150px;
        width: 23vw;

        & .change-pass-button {
            color: #2173DF;
            font-size: 14px;
            background: transparent;
            border: transparent;
            width: fit-content;
            height: auto;
            padding: 0 0 0 0;
            margin-top: auto;
            text-align: left;
        }
    }
}

.initial {
    font-size: 30px;
    color: #000000;
    background-color: #7DDED8;
    width: 70px;
    height: 70px;
    padding-top: 12px;
    border-radius: 50%;
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}

.back-button {
    background: transparent;
    color: #000000;
    border: none;
}



.change-password-content {
    margin-left: 0;

    & .pop-up-input{
        width: 100%;
        margin-left: 0;
    }
}