$mainbox-height: calc(96vh - 50px - 1vw);
$mainbox-width: calc(100vw - 240px - 6vw);
$halfbox-width: calc($mainbox-width * 0.5 - 15px - 12vw);

* {
  box-sizing: border-box;
}

.pane{
    padding: 1vw;
}

.mainpane{
    display: block;
}

.nameheader{
    height: 12vh;
    width: $mainbox-width;
    display: flex;
    padding: 30px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
}

.profilepicture{
    display: flex;
    margin-left: 0.5vw;
    background-color: #FFF;
    align-items: left;
    align-content: center;
    & img{
        width: 50px;
}
}

.nametitle{
    color: #000;
    font-size: 38.4px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 140%;
    align-items: center;
    margin-top: -10px;
}

.email{
    color: var(--text-subdued-text, #ACACAC);
    /* Inter/Body 2 */
    margin-top: -12px;
    font-size: 14px;
    font-family: Inter;
    line-height: 24px;
}



.businesses-overview{
    display: flex;
    margin-top: 16px;
    & .yourbusiness, .update{
        // height: calc(96vh - 50px - 2vw - 12vh - 45vh - 16px);
        height: 30vh;
        width: $halfbox-width;
    }
    & .yourbusiness{
        display: flex;
        padding: 20px 30px 40px 30px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
        flex: 1 0 0;
        border-radius: 20px;
        background: #FFF;       
    }
    & .updates{
        margin-left: 15px;
        display: flex;
        padding: 2vh 20.956px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 13.971px;
        background: linear-gradient(133deg, #3235FF 0%, #5C5FFF 100%);
        color: #F7F8FC;
        text-align: center;
        overflow: scroll;
        & .updateslogo{
            align-items: center;
            flex-shrink: 0;
            width: 7vh;
            height: 7vh;
        }
        & .updatestitle{
            color: var(--text-bod, #F7F8FC);
            font-size: calc(5vh * 0.7);
            font-family: DM Sans;
            font-weight: 500;
        }
        & .uptext{
            margin-bottom: 8px;
            display: flex;
            width: 358px;
            flex-direction: column;
            align-self: center;
            color: #F7F8FC;
            text-align: center;
            font-size: calc(3vh * 0.7);
            font-family: Inter;
            font-weight: 100;
            line-height: 140%;
        }
        & .updatesbutton{
            display: flex;
            height: 4vh;
            padding: 2vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            border-color: transparent;
            color: #3235FF;
            background-color: #FFF;
            margin-top: -10px;
        }
    }

}

.businesstitle{
    color: #000;
    font-size: 30px;
    font-family: DM Sans;
    font-weight: 500;
}

 .people{
    margin-top: 16px;
    height: calc(96vh - 50px - 2vw - 12vh - 30vh - 16px);
    width: $mainbox-width;
    display: flex;
    padding: 20px 30px 40px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;   
    overflow:auto;
}

.teammember{
    display: flex;
    & .team-member-icon {
        display: flex;
        & img{
            width: 60px;
            height: 60px;
            border-radius: 100px;
            background: #FFF;
            opacity: 60%;
        
        }
    }
    
    & .emptyname{
        min-width: 140px;
        max-width: fit-content;
        height: 42px;
        margin-right: 35px;
        margin-left: 35px;
        margin-top: 16px;
        border-radius: 9px;
        background: rgba(217, 217, 217, 0.30);
    }
}

.collaborate{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--text-subdued-text, #ACACAC);
    text-align: center;
    font-size: 22px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 140%;
}

.invite-button{
    width: 100%;
    margin-top: -8px;
    & button{
        display: flex;
        height: 43px;
        padding: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: var(--accent-yellow-dark, #FEC514);
        border: #FEC514;
        color: #000;
        margin: auto;
    }
}