.search-bar {
  width: calc(100vw - 240px - 8vw - 15vw - 4vw);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container input[type=text] {
  border-style: solid;
  border-color: transparent;
  border-radius: 28px;
  font-size: 14px;
  flex: 1;
  box-shadow: none;
  height: 50px;
  text-indent: 12px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: grey;
}

* {
  box-sizing: border-box;
}

.pane {
  padding: 1vh 0 1vw 1vw;
}

.mainpane {
  display: block;
}

.nameheader {
  display: flex;
  position: relative;
  align-items: center !important;
  height: 120px;
  min-height: -moz-max-content;
  min-height: max-content;
  width: calc(100vw - 240px - 8vw);
  padding: 30px;
  align-self: stretch;
  border-radius: 20px;
  background: #FFF;
}
@media (max-width: 1000px) {
  .nameheader {
    display: none;
  }
}
@media (max-height: auto) {
  .nameheader {
    background-color: #ffffff;
  }
}
.nameheader .initials {
  font-size: 50px;
  color: black;
  background-color: #7DDED8;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}
.nameheader .editbutton {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 92px;
  top: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.nameheader .editbutton .icon {
  color: #000;
  height: 25px;
  width: 25px;
}
.nameheader .nametitle h1 {
  color: rgb(0, 0, 0);
  font-size: 38.4px;
  white-space: nowrap;
  overflow: scroll;
  font-family: DM Sans;
  font-weight: 500;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.nameheader .nametitle .email-text {
  color: var(--text-subdued-text, #ACACAC);
  font-size: 14px;
  font-family: Inter;
  margin-bottom: 20px;
  margin-left: 8px;
}
.nameheader .nametitle .icon {
  color: #ACACAC;
}

.businesses-overview {
  display: flex;
  margin-top: 16px;
  height: 33vh;
}
.businesses-overview .yourbusiness, .businesses-overview .update {
  width: calc((100vw - 240px - 8vw) * 0.5 - 15px);
}
.businesses-overview .yourbusiness {
  display: flex;
  padding: 20px 30px 40px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #FFF;
  height: 100% !important;
}
.businesses-overview .updates {
  margin: 0 15px;
  display: flex;
  padding: 2vh 20.956px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 13.971px;
  background: linear-gradient(133deg, #3235FF 0%, #5C5FFF 100%);
  color: #F7F8FC;
  text-align: center;
  overflow: scroll;
}
.businesses-overview .updates .updateslogo {
  align-items: center;
  flex-shrink: 0;
  width: 7vh;
  height: 7vh;
}
.businesses-overview .updates .updatestitle {
  color: var(--text-bod, #F7F8FC);
  font-size: 3.5vh;
  font-family: DM Sans;
  font-weight: 500;
}
.businesses-overview .updates .uptext {
  margin-bottom: 10px;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-self: center;
  color: #F7F8FC;
  text-align: center;
  font-size: 1.8vh;
  font-family: Inter;
  font-weight: lighter;
  line-height: 140%;
}
.businesses-overview .updates .updatesbutton {
  display: flex;
  height: 4vh;
  padding: 2vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border-color: transparent;
  color: #3235FF;
  background-color: #FFF;
  margin-top: -10px;
}

.businesstitle {
  color: #000;
  font-size: 30px;
  font-family: DM Sans;
  font-weight: 500;
}

.main-dashboard-people {
  margin-top: 16px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: calc(100vw - 240px - 8vw);
  display: flex;
  padding: 20px 30px 40px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 20px;
  background: #FFF;
}

.teammember {
  display: flex;
  margin-bottom: 20px;
}
.teammember .team-member-icon {
  display: flex;
}
.teammember .team-member-icon img {
  height: calc((96vh - 50px - 1vh - 12vh - 33vh - 32px) * 0.2);
  border-radius: 100px;
  background: #FFF;
  opacity: 60%;
}
.teammember .emptyname {
  width: calc((100vw - 240px - 8vw) / 4 - (96vh - 50px - 1vh - 12vh - 33vh - 32px) * 0.2 - (100vw - 240px - 8vw) * 0.04 - 60px);
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: calc((96vh - 50px - 1vh - 12vh - 33vh - 32px) * 0.1);
  margin: 0 calc((100vw - 240px - 8vw) * 0.04);
  margin-top: 16px;
  border-radius: 9px;
  background: rgba(217, 217, 217, 0.3);
}

.collaborate {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--text-subdued-text, #ACACAC);
  text-align: center;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 140%;
}

.invite-button {
  width: 100%;
  margin-top: -8px;
}
.invite-button button {
  display: flex;
  height: 43px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--accent-yellow-dark, #FEC514);
  border: #FEC514;
  color: #000;
  margin: auto;
}

.profile_in {
  font-size: auto;
  color: #000000;
  background-color: #7DDED8;
  width: 40px;
  height: 40px;
  line-height: 140%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  text-transform: uppercase;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

.profile-header {
  margin-top: 5px;
  display: flex;
  background-color: #FFF;
  padding: 0 1vw;
  padding-top: 5px;
  width: calc(100vw - 240px - 8vw - (100vw - 240px - 8vw - 15vw - 4vw) - 2vw);
  border-radius: 28px;
  margin: auto;
  height: 50px;
  /*@media screen and (max-width: 750px) {
      & .profile-picture{
          display: none;
          width: 0;
          height: 0;
          margin-right: 0;
      }
  }*/
}
.profile-header .profile-picture {
  display: block;
  margin-right: 0.5vw;
}
.profile-header .profile-picture img {
  width: 35px;
}
.profile-header .profile-name {
  display: block;
  width: calc(15vw - 30px - 35px - 1vw);
  overflow: scroll;
  margin-right: 1vw;
}
.profile-header .profile-name h1 {
  font-size: 16px;
  white-space: nowrap;
  overflow: scroll;
  margin-top: 3px;
}
.profile-header .profile-name h2 {
  font-size: 9px;
  color: #808080;
  margin-top: -5px;
}
.profile-header .dropdown-arrow-area {
  height: 300px;
}
.profile-header .dropdown-arrow {
  border-top-color: black;
  top: 15px;
  display: block;
  position: relative;
}
.profile-header .dropdown-arrow:hover {
  margin-top: -15px;
}
.profile-header .dropdown-arrow .dropdown-content {
  margin-top: 15px;
  right: 50px;
  position: fixed;
}
.profile-header .dropdown-arrow .dropdown-content a, .profile-header .dropdown-arrow .dropdown-content button {
  text-decoration: none;
}
.profile-header .dropdown-arrow .dropdown-content a:hover, .profile-header .dropdown-arrow .dropdown-content button:hover {
  border-bottom: transparent;
  display: block;
}
.profile-header .dropdown-arrow .css-i4bv87-MuiSvgIcon-root {
  margin-right: 10px;
}/*# sourceMappingURL=profile.css.map */