@use './searchbar';
@use './pane';
$profile-width: calc(pane.$mainbox-width - searchbar.$search-bar-width - 2vw);
$profile-name-width: calc(15vw - 30px - 35px - 1vw);

.profile_in{
    font-size: 30px;
    color: #000000;
    background-color: #7DDED8;
    width: 40px;
    height: 40px;
    line-height: 140%;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    text-transform: uppercase;
    text-size-adjust: auto;
}
.profile-header{
    margin-top: 5px;
    display: flex;
    background-color: #FFF;
    padding: 0 1vw;
    padding-top: 5px;
    width: $profile-width;
    border-radius: 28px;
    margin: auto;
    height: 50px;
    & .profile-picture{
        display: block;
        margin-right: 0.5vw;
        & img{
            width: 35px;
        }
    }
    & .profile-name{
        display: block;
        width: $profile-name-width;
        overflow: scroll;
        & h1{
            font-size: 16px;
            white-space: nowrap;
            overflow: scroll;
        }
        & h2{
            font-size: 9px;
            color: #808080;
        }
        margin-right: 1vw;
    }
    & .dropdown-arrow-area{
        height: 300px;
    }
    & .dropdown-arrow{
        border-top-color: black;
        top: 15px;
        display: block;
        position: relative;
        &:hover{
            margin-top: -15px;
        }
        & .dropdown-content{
            margin-top: 15px;
            right: 50px;
            position: fixed;
            & a, button{
                text-decoration: none;
                &:hover{
                    border-bottom: transparent;
                    display: block;
                }
            }
        }
        & .css-i4bv87-MuiSvgIcon-root{
            margin-right: 10px;
        }
    }
    /*@media screen and (max-width: 750px) {
        & .profile-picture{
            display: none;
            width: 0;
            height: 0;
            margin-right: 0;
        }
    }*/
}