.search-bar {
  width: 856.2px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container input[type=text] {
  //padding: 8px 40px 8px 8px;
  //margin-top: 29px;
  /*border-style: solid;
  border-color: black;*/
  border-radius: 28px;
  font-size: 14px;
  flex: 1;
}

.search-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
