.sidebar {
    height: 96vh;
    width: 240px;
    background-color: #0E1116;
    border-radius: 12px;
    margin: 0;
}

.icon {
    color: white;
}

.sidebar-list {
    height: 100%;
    width: 100%;
    display: block;
    & .row {
        width: 85%;
        height: 50px;
        background-color: #0E1116;
        list-style-type: none;
        margin:0%;
        display: block;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 7%;

        & li:hover, &.active, &:hover{
            border-radius: 8px;
            border: 2px solid #343741;
            color: grey !important;
            cursor: pointer;
            & .dropdown-arrow{
                margin-top: -10px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid grey;
                border-top: 10px solid transparent;
            }
        }
        & .main-item{
            display: flex;
            height: 100%;
            margin: auto;
            text-align: center;
            align-items: center;
            margin-bottom: 10px;
        }
        & .sub-items{
            min-width: fit-content;
            display: block;
            color: white;
            float: right;
            & .active a{
                color: grey !important;
            }
            & li, button{
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                border-radius: 8px;
                border: 1px solid #343741;
                & :hover{
                    color: grey !important;
                }
                & a{
                    padding: 8px 1.75vw;
                }
            }
            & button{
                background-color: #A5A6F6;
                padding: 8px 1.75vw;
                border: 1px solid transparent;
                &:hover{
                    color: rgb(67, 67, 67) !important;
                }
            }
        }

    }
    & .row>*{
        width: 70%;
    }
    & div#icon {
        width: 14%;
    }
}

.opn-systems-text {
    color: white;
    font-size: 1.5rem;
    margin-left: 20%;
    margin-top: 5%;
}