.sidebar {
    height: 96vh;
    width: 240px;
    background-color: #0E1116;
    border-radius: 12px;
    margin: 0;
}

.icon {
    color: white;
}

.sidebar-list {
    overflow: scroll;
    height: 100%;
    width: 100%;
    display: block;
    & .row {
        width: 85%;
        height: 50px;
        background-color: #0E1116;
        list-style-type: none;
        margin:0%;
        display: block;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 7%;

        & .dropdown-arrow{
            border-top: 10px solid white;
            &:hover{
                border-bottom: 10px solid white !important;
            }
        }
        & li:hover, &.active, &:hover{
            border-radius: 8px;
            border: 2px solid transparent;
            background-color: #242D3A;
            cursor: pointer;
            & .dropdown-arrow{
                margin-top: -10px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                border-top: 10px solid transparent;
            }
        }
        & .main-item{
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
            & .main-item-content{
                display: flex;
                width: fit-content;
                height: 100%;
                margin: auto;
                text-align: center;
                align-items: center;
            }
        }
        & .sub-items{
            min-width: fit-content;
            display: block;
            color: white;
            float: right;
            & .sub-items-content{
                display: flex;
                height: 100%;
                margin: auto;
                align-items: center;
                color: white;
                & .icon{
                    margin-right: 15px;
                    border-radius: 6px;
                    & img{
                        height: 35px;
                        width: 35px;
                        color: #F7F8FC;
                        border-radius: 8px;
                    }
                }
                & .title{
                    width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            & .active .sub-items-content{
                background-color: #242D3A;
                border-radius: 8px;
            }
            & li, button{
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                margin-top: 0;
                border-radius: 8px;
                border: 1px solid transparent;
                color: black;
                & :hover{
                    background-color: #242D3A;
                }
                & .sub-items-content{
                    padding: 10px 12px;
                }
            }
            & button{
                background-color: #A5A6F6;
                padding: 8px 1.75vw;
                border: 1px solid transparent;
                &:hover{
                    color: rgb(67, 67, 67) !important;
                }
            }
        }

    }
    & .row>*{
        width: 70%;
    }
    & div#icon {
        width: 14%;
    }
}

.opn-systems-text {
    color: white;
    font-size: 1.5rem;
    margin-left: 20%;
    margin-top: 5%;
}
