

.Team_Header{
    h1{
    font-size: 32px;
    font-family: DM Sans;
    font-style: normal;
    font-weight:bold;
    line-height: normal;
    }
}

$create-client-journey-width: 50vw;
$create-client-journey-height: 85vh;
.create-client-journey{
    top: calc((100vh - $create-client-journey-height) / 2);
    height: fit-content;
    max-height: $create-client-journey-height;
    width: $create-client-journey-width;
    left: calc((100vw - $create-client-journey-width) / 2);
    right: calc((100vw - $create-client-journey-width) / 2);
}