.Team_Member{
    width: 100%;
    min-height: calc(100% - 70px - 23px);
    height: fit-content;
    overflow: scroll;
    font-weight: bold;
    & .input[type=text]{
        margin-left:0px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
    }

    & .pop-up-input{
        width:23vw;
        margin: auto auto 15px auto;
    }
}


.create_new{
    width: 40vw;
    margin-top: 15vh;
    max-height: 70vh;
    left: 0;
    margin-left: 30vw;
    margin-right: 30vw;
    overflow: scroll;
    & button{
        width: fit-content !important;
        padding: 10px 20px;
    }
}