.edit {
  display: grid;
  margin: 0 !important;
}
.edit .edit-suggestion {
  margin-bottom: 15px;
}
.edit .edit-suggestion button {
  margin: 0 !important;
  float: left !important;
  border-radius: 35px !important;
  background-color: rgba(165, 166, 246, 0.2) !important;
  padding: 7.5px 20px !important;
  text-align: center !important;
  align-items: flex-start !important;
  gap: 12px !important;
  color: #5D5FEF !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.edit .edit-suggestion h3 {
  float: right !important;
  margin-top: 5px !important;
  margin-right: 0 !important;
  color: black !important;
  font-size: 16px !important;
  padding: 0 !important;
}
.edit .edit-suggestion h3 img {
  height: 25px !important;
  margin-top: -2px !important;
  margin-right: 5px !important;
}
.edit .edit-prompt {
  display: flex;
}
.edit .edit-prompt img, .edit .edit-prompt input, .edit .edit-prompt button {
  height: 25px !important;
}
.edit .edit-prompt img {
  margin-right: 10px !important;
}
.edit .edit-prompt input, .edit .edit-prompt input:focus {
  width: calc(85% - 45px) !important;
  border: 1px solid transparent !important;
  margin-right: 10px !important;
  outline: none !important;
}
.edit .edit-prompt button {
  width: calc(15% - 45px) !important;
  color: #ACACAC !important;
  text-align: right !important;
  padding: 0 !important;
  float: right !important;
  margin: auto !important;
  margin-right: 0 !important;
}

.loading-table-item {
  display: grid;
  text-align: center;
}
.loading-table-item .loading-message {
  white-space: nowrap;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}
.loading-table-item .loading-message img {
  height: 25px;
  margin-top: 7px;
}
.loading-table-item .loading-message h2 {
  font-size: 16px;
  color: #5D5FEF;
  margin: 0 !important;
}
.loading-table-item .loading-circle {
  margin: auto;
  height: 30px;
  width: 30px;
}
.loading-table-item input {
  height: 40px;
  width: 30vw;
  padding: 10px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin: auto;
  border: none !important;
  border-color: transparent;
  border-radius: 4px;
  background-color: #F1F4F9 !important;
  color: #8496AE !important;
}

.edit-pop-up {
  display: flex;
  position: absolute;
  z-index: 500;
  float: right;
  right: 10px;
  margin-top: 45px;
}
.edit-pop-up .edit, .edit-pop-up .edit-pop-up-content, .edit-pop-up .edit-help {
  border-radius: 9px;
  background-color: #FFF !important;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 8px 48px 0px rgba(32, 35, 39, 0.05), 0px 4px 8px 0px rgba(32, 35, 39, 0.05), 0px 0px 1px 0px rgba(32, 35, 39, 0.2);
}
.edit-pop-up .edit {
  width: auto;
  height: 60px;
}
.edit-pop-up .edit .edit-prompt {
  margin: auto;
}
.edit-pop-up .edit .edit-prompt input {
  width: 20vw !important;
}
.edit-pop-up .edit .edit-prompt button {
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-color: transparent;
  border: none;
}
.edit-pop-up .edit-help {
  width: 22vw;
  right: 250px;
  position: absolute;
}
.edit-pop-up .edit-help h2, .edit-pop-up .edit-help h3, .edit-pop-up .edit-help text, .edit-pop-up .edit-help button {
  font-size: 16px !important;
}
.edit-pop-up .edit-help .edit-help-title {
  display: flex;
}
.edit-pop-up .edit-help .edit-help-title img {
  height: 23px;
  margin-right: 8px;
}
.edit-pop-up .edit-help .edit-help-title h2 {
  color: #202327;
}
.edit-pop-up .edit-help .edit-help-title .close-button {
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin: auto;
  margin-right: 0;
}
.edit-pop-up .edit-help .edit-help-title .close-button button {
  color: black;
  background-color: transparent;
  font-weight: 900;
  border-color: transparent;
}
.edit-pop-up .edit-help h3 {
  color: #5D5FEF;
  font-weight: 700;
}
.edit-pop-up .edit-help .edit-help-content {
  display: grid;
  padding: 10px;
  border-radius: 9px;
  background-color: #F7F8FC;
}
.edit-pop-up .edit-help .edit-help-content text {
  color: #343741;
}
.edit-pop-up .edit-pop-up-content {
  display: grid;
  width: auto;
}
.edit-pop-up .edit-pop-up-content hr {
  height: 1.5px !important;
}
.edit-pop-up .edit-pop-up-content .pop-up-item {
  text-align: left;
  display: flex;
  border-radius: 9px;
  padding: 5px 8px;
  margin-bottom: 8px;
}
.edit-pop-up .edit-pop-up-content .pop-up-item:hover, .edit-pop-up .edit-pop-up-content .pop-up-item.active {
  cursor: pointer;
  background-color: #F7F8FC;
}
.edit-pop-up .edit-pop-up-content .pop-up-item img {
  height: 25px;
  color: #5D5FEF;
  margin: auto;
  margin-right: 10px;
  margin-left: 0;
}
.edit-pop-up .edit-pop-up-content .pop-up-item .pop-up-item-title {
  display: grid;
  font-size: 12px;
}
.edit-pop-up .edit-pop-up-content .pop-up-item .pop-up-item-title button {
  text-align: left;
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
}
.edit-pop-up .edit-pop-up-content .pop-up-item .pop-up-item-title text {
  color: #ACACAC;
}

.more-option {
  position: absolute;
}
.more-option button {
  display: block !important;
  margin-top: -8px !important;
  margin-left: 10px !important;
}
.more-option button:hover {
  color: inherit !important;
}

.main-table, .secondary-table, .folder-list, .folder-list2, .fourth-table, .list-table4 {
  width: 100%;
  position: relative;
}
.main-table h1, .secondary-table h1, .folder-list h1, .folder-list2 h1, .fourth-table h1, .list-table4 h1 {
  font-size: 32px;
  font-weight: 700;
  float: left;
}
.main-table h2, .secondary-table h2, .folder-list h2, .folder-list2 h2, .fourth-table h2, .list-table4 h2 {
  padding: 5px;
  font-size: 16px;
  text-align: justify;
}
.main-table .table-directory, .secondary-table .table-directory, .folder-list .table-directory, .folder-list2 .table-directory, .fourth-table .table-directory, .list-table4 .table-directory {
  margin-bottom: 10px;
  display: flex;
}
.main-table .table-directory h3, .secondary-table .table-directory h3, .folder-list .table-directory h3, .folder-list2 .table-directory h3, .fourth-table .table-directory h3, .list-table4 .table-directory h3 {
  height: 35px;
  font-size: 12px;
  color: #929292;
  align-items: center;
  margin: auto;
  margin-left: 0;
}
.main-table .table-directory .table-directory-left-header, .secondary-table .table-directory .table-directory-left-header, .folder-list .table-directory .table-directory-left-header, .folder-list2 .table-directory .table-directory-left-header, .fourth-table .table-directory .table-directory-left-header, .list-table4 .table-directory .table-directory-left-header {
  display: flex;
  height: 35px;
}
.main-table .table-directory .table-directory-left-header h3, .secondary-table .table-directory .table-directory-left-header h3, .folder-list .table-directory .table-directory-left-header h3, .folder-list2 .table-directory .table-directory-left-header h3, .fourth-table .table-directory .table-directory-left-header h3, .list-table4 .table-directory .table-directory-left-header h3 {
  height: 35px;
  margin-top: 10px;
}
.main-table .table-directory .table-directory-left-header button, .main-table .table-directory .table-directory-left-header h3, .secondary-table .table-directory .table-directory-left-header button, .secondary-table .table-directory .table-directory-left-header h3, .folder-list .table-directory .table-directory-left-header button, .folder-list .table-directory .table-directory-left-header h3, .folder-list2 .table-directory .table-directory-left-header button, .folder-list2 .table-directory .table-directory-left-header h3, .fourth-table .table-directory .table-directory-left-header button, .fourth-table .table-directory .table-directory-left-header h3, .list-table4 .table-directory .table-directory-left-header button, .list-table4 .table-directory .table-directory-left-header h3 {
  margin-right: 5px !important;
}
.main-table .table-directory .table-directory-left-header button, .secondary-table .table-directory .table-directory-left-header button, .folder-list .table-directory .table-directory-left-header button, .folder-list2 .table-directory .table-directory-left-header button, .fourth-table .table-directory .table-directory-left-header button, .list-table4 .table-directory .table-directory-left-header button {
  background-color: transparent;
  color: #929292;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
  max-width: 20vw;
  white-space: nowrap;
}
.main-table .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root, .secondary-table .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root, .folder-list .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root, .folder-list2 .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root, .fourth-table .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root, .list-table4 .table-directory .table-directory-left-header button .css-i4bv87-MuiSvgIcon-root {
  color: #2173DF;
  margin-left: 5px;
  margin-top: -2.5px;
  font-size: 15px;
}
.main-table .table-directory .table-directory-left-header button:hover, .secondary-table .table-directory .table-directory-left-header button:hover, .folder-list .table-directory .table-directory-left-header button:hover, .folder-list2 .table-directory .table-directory-left-header button:hover, .fourth-table .table-directory .table-directory-left-header button:hover, .list-table4 .table-directory .table-directory-left-header button:hover {
  cursor: pointer;
  color: #5D5FEF;
}
.main-table .table-directory .table-directory-right-header, .secondary-table .table-directory .table-directory-right-header, .folder-list .table-directory .table-directory-right-header, .folder-list2 .table-directory .table-directory-right-header, .fourth-table .table-directory .table-directory-right-header, .list-table4 .table-directory .table-directory-right-header {
  display: flex;
  float: right;
  margin-left: auto;
}
.main-table .table-directory .table-directory-right-header button, .main-table .table-directory .table-directory-right-header hr, .secondary-table .table-directory .table-directory-right-header button, .secondary-table .table-directory .table-directory-right-header hr, .folder-list .table-directory .table-directory-right-header button, .folder-list .table-directory .table-directory-right-header hr, .folder-list2 .table-directory .table-directory-right-header button, .folder-list2 .table-directory .table-directory-right-header hr, .fourth-table .table-directory .table-directory-right-header button, .fourth-table .table-directory .table-directory-right-header hr, .list-table4 .table-directory .table-directory-right-header button, .list-table4 .table-directory .table-directory-right-header hr {
  margin-right: 8px;
  height: 35px;
}
.main-table .table-directory .table-directory-right-header button, .secondary-table .table-directory .table-directory-right-header button, .folder-list .table-directory .table-directory-right-header button, .folder-list2 .table-directory .table-directory-right-header button, .fourth-table .table-directory .table-directory-right-header button, .list-table4 .table-directory .table-directory-right-header button {
  background-color: transparent;
  border: none;
  color: black;
}
.main-table .table-directory .table-directory-right-header button:hover, .secondary-table .table-directory .table-directory-right-header button:hover, .folder-list .table-directory .table-directory-right-header button:hover, .folder-list2 .table-directory .table-directory-right-header button:hover, .fourth-table .table-directory .table-directory-right-header button:hover, .list-table4 .table-directory .table-directory-right-header button:hover {
  cursor: pointer;
  color: #5D5FEF;
}
.main-table .table-directory .table-directory-right-header hr, .secondary-table .table-directory .table-directory-right-header hr, .folder-list .table-directory .table-directory-right-header hr, .folder-list2 .table-directory .table-directory-right-header hr, .fourth-table .table-directory .table-directory-right-header hr, .list-table4 .table-directory .table-directory-right-header hr {
  border: none;
  border-left: 2px solid hsl(200, 10%, 50%);
  width: 2px;
}
.main-table .table-directory .table-directory-right-header .edit-btn, .secondary-table .table-directory .table-directory-right-header .edit-btn, .folder-list .table-directory .table-directory-right-header .edit-btn, .folder-list2 .table-directory .table-directory-right-header .edit-btn, .fourth-table .table-directory .table-directory-right-header .edit-btn, .list-table4 .table-directory .table-directory-right-header .edit-btn {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #FEC514;
  border-color: transparent;
  color: black;
  margin-right: 0;
}
.main-table .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root, .secondary-table .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root, .folder-list .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root, .folder-list2 .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root, .fourth-table .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root, .list-table4 .table-directory .table-directory-right-header .edit-btn .css-i4bv87-MuiSvgIcon-root {
  margin-right: 4px;
}
.main-table .table-directory .table-directory-right-header .ai-edit-btn, .secondary-table .table-directory .table-directory-right-header .ai-edit-btn, .folder-list .table-directory .table-directory-right-header .ai-edit-btn, .folder-list2 .table-directory .table-directory-right-header .ai-edit-btn, .fourth-table .table-directory .table-directory-right-header .ai-edit-btn, .list-table4 .table-directory .table-directory-right-header .ai-edit-btn {
  background-color: #A5A6F6;
  background: rgba(165, 166, 246, 0.2);
  border-radius: 18px;
  border: 0.75px solid #5D5FEF;
  padding: 0 10px;
}
.main-table .table-directory .table-directory-right-header .ai-edit-btn.active, .secondary-table .table-directory .table-directory-right-header .ai-edit-btn.active, .folder-list .table-directory .table-directory-right-header .ai-edit-btn.active, .folder-list2 .table-directory .table-directory-right-header .ai-edit-btn.active, .fourth-table .table-directory .table-directory-right-header .ai-edit-btn.active, .list-table4 .table-directory .table-directory-right-header .ai-edit-btn.active {
  color: #5D5FEF;
}
.main-table .table-directory .table-directory-right-header .ai-edit-btn img, .secondary-table .table-directory .table-directory-right-header .ai-edit-btn img, .folder-list .table-directory .table-directory-right-header .ai-edit-btn img, .folder-list2 .table-directory .table-directory-right-header .ai-edit-btn img, .fourth-table .table-directory .table-directory-right-header .ai-edit-btn img, .list-table4 .table-directory .table-directory-right-header .ai-edit-btn img {
  height: 20px;
  margin-top: -5px;
  margin-right: 5px;
}
.main-table .table-directory .table-directory-right-header .save-btn, .secondary-table .table-directory .table-directory-right-header .save-btn, .folder-list .table-directory .table-directory-right-header .save-btn, .folder-list2 .table-directory .table-directory-right-header .save-btn, .fourth-table .table-directory .table-directory-right-header .save-btn, .list-table4 .table-directory .table-directory-right-header .save-btn {
  background-color: #2173DF;
  border-radius: 4px;
  padding: 0 10px;
  color: white;
}
.main-table .table-directory .table-directory-right-header .save-btn:hover, .secondary-table .table-directory .table-directory-right-header .save-btn:hover, .folder-list .table-directory .table-directory-right-header .save-btn:hover, .folder-list2 .table-directory .table-directory-right-header .save-btn:hover, .fourth-table .table-directory .table-directory-right-header .save-btn:hover, .list-table4 .table-directory .table-directory-right-header .save-btn:hover {
  color: black;
}
.main-table .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root, .secondary-table .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root, .folder-list .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root, .folder-list2 .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root, .fourth-table .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root, .list-table4 .table-directory .table-directory-right-header .save-btn .css-i4bv87-MuiSvgIcon-root {
  margin-right: 5px;
}
.main-table .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root, .secondary-table .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root, .folder-list .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root, .folder-list2 .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root, .fourth-table .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root, .list-table4 .table-directory .table-directory-right-header .css-i4bv87-MuiSvgIcon-root {
  font-size: 16px;
}
.main-table .table-input, .secondary-table .table-input, .folder-list .table-input, .folder-list2 .table-input, .fourth-table .table-input, .list-table4 .table-input {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
  text-align: justify;
}
.main-table .table-input:focus, .secondary-table .table-input:focus, .folder-list .table-input:focus, .folder-list2 .table-input:focus, .fourth-table .table-input:focus, .list-table4 .table-input:focus {
  outline: none;
}
.main-table .table-input:hover, .secondary-table .table-input:hover, .folder-list .table-input:hover, .folder-list2 .table-input:hover, .fourth-table .table-input:hover, .list-table4 .table-input:hover {
  cursor: text;
}
.main-table .table-input.h1, .secondary-table .table-input.h1, .folder-list .table-input.h1, .folder-list2 .table-input.h1, .fourth-table .table-input.h1, .list-table4 .table-input.h1 {
  font-size: 32px;
  font-weight: 700;
  float: left;
}
.main-table .table-input.text, .secondary-table .table-input.text, .folder-list .table-input.text, .folder-list2 .table-input.text, .fourth-table .table-input.text, .list-table4 .table-input.text {
  background-color: transparent;
  color: black;
}

.main-table button {
  border-radius: 4px;
  padding: 4px 5px;
  justify-content: center;
  align-items: center;
  background-color: #FEC514;
  border-color: transparent;
  color: black;
}
.main-table .main-table-title {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.main-table .main-table-title .main-table-right-header {
  display: flex;
  float: right;
  margin-left: auto;
}

.secondary-table {
  display: none;
}
.secondary-table .secondary-table-content {
  display: grid;
}
.secondary-table .secondary-table-content .secondary-table-items {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: #F8F8F8;
  border-radius: 20px;
}
.secondary-table .secondary-table-content .secondary-table-items .items-title {
  display: flex;
  height: 30px;
}
.secondary-table .secondary-table-content .secondary-table-items .items-title h1, .secondary-table .secondary-table-content .secondary-table-items .items-title button {
  height: 30px;
  margin: auto;
}
.secondary-table .secondary-table-content .secondary-table-items .items-title h1 {
  font-size: 20px;
  margin-left: 0;
}
.secondary-table .secondary-table-content .secondary-table-items .items-title button {
  font-size: 12px;
  margin: auto;
  float: right;
  margin-right: 0;
  color: black;
  background-color: transparent;
  border: none;
}
.secondary-table .secondary-table-content .secondary-table-items .items-title button .css-i4bv87-MuiSvgIcon-root {
  color: #A2ABBA;
  font-size: 20px;
}

.list-table4 {
  display: none;
}
.list-table4 .list-table4-content {
  display: grid;
}
.list-table4 .list-table4-content h1 {
  margin-top: -10px;
  margin-bottom: 0;
}
.list-table4 .list-table4-content .list-table4-desc {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
}
.list-table4 .list-table4-content .list-table4-desc hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  height: 1px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item {
  display: flex;
  padding: 8px 15px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item h2, .list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item text, .list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .css-i4bv87-MuiSvgIcon-root, .list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list {
  font-size: 16px;
  padding: 0;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item h2, .list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .css-i4bv87-MuiSvgIcon-root {
  height: 20px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item h2 {
  color: #ACACAC;
  width: 170px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item text, .list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list {
  width: calc(100% - 170px);
  text-align: justify;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .css-i4bv87-MuiSvgIcon-root {
  margin-top: -1.5px;
  margin-right: 5px;
  font-size: 18px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list {
  display: grid;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list .desc-item-list-item {
  display: flex;
  margin-bottom: 5px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list .desc-item-list-item h3 {
  min-width: 30px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}
.list-table4 .list-table4-content .list-table4-desc .list-table4-desc-item .desc-item-list .desc-item-list-item text {
  margin-bottom: 2px;
}
.list-table4 .list-table4-content .list-table4-list {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 10px 20px;
  display: grid;
}
.list-table4 .list-table4-content .list-table4-list:hover {
  cursor: pointer;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-heading h2 {
  margin: auto;
  margin-left: 0;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-heading button {
  margin-left: 0 !important;
  font-size: 12px;
  white-space: nowrap;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-heading .css-i4bv87-MuiSvgIcon-root {
  height: 20px;
  color: #A2ABBA;
}
.list-table4 .list-table4-content .list-table4-list h2 {
  color: #343741;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.list-table4 .list-table4-content .list-table4-list .css-i4bv87-MuiSvgIcon-root {
  margin-top: -3px;
}
.list-table4 .list-table4-content .list-table4-list li {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
.list-table4 .list-table4-content .list-table4-list li .edit-icon .css-i4bv87-MuiSvgIcon-root {
  margin: 20px 15px;
  margin-bottom: 0;
  height: 25px;
  color: #ACACAC;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item {
  display: flex;
  padding: 10px;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item:hover {
  cursor: pointer;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item.active {
  box-shadow: 0px 8px 32px -6px rgba(20, 23, 26, 0.207), 0px 6px 20px -6px rgba(20, 23, 26, 0.207);
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .list-table4-list-item-content {
  display: grid;
  width: 100%;
  margin: auto;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item h3 {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  font-size: 20px;
  color: #ACACAC;
  min-width: 50px;
  padding: 10px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .edit {
  margin-left: 50px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .table-input.text {
  margin: auto;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 10px;
  font-size: 16px;
  color: #343741;
  text-align: justify;
  padding-top: 4px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .heading h3 {
  font-size: 20px;
  margin-top: 3px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .heading .table-input.text {
  font-weight: 900;
  font-size: 22px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .sub-items {
  display: grid;
  margin-left: -10px;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .sub-items hr {
  margin: 10px;
  height: 2px;
  background-color: #bebebe;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .sub-items .sub-items-content {
  display: flex;
}
.list-table4 .list-table4-content .list-table4-list .list-table4-list-item .sub-items .sub-items-content .table-input.text {
  padding-top: 10px;
}
.list-table4 .list-table4-content .list-table4-list button {
  background-color: transparent;
  border: none;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  float: right;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 0;
}
.list-table4 .list-table4-content .add-list-item {
  display: flex;
  border-radius: 12px;
  padding: 10px;
  width: calc(100% - 108px);
  margin: auto;
  margin-top: 10px;
}
.list-table4 .list-table4-content .add-list-item.ai {
  border: 2px solid var(--accent-purple-dark, #5D5FEF);
  background: rgba(165, 166, 246, 0.2);
}
.list-table4 .list-table4-content .add-list-item.ai h3, .list-table4 .list-table4-content .add-list-item.ai text, .list-table4 .list-table4-content .add-list-item.ai img {
  color: var(--accent-purple-dark, #5D5FEF);
}
.list-table4 .list-table4-content .add-list-item.manual {
  border: 2px solid var(--accent-purple-dark, #2173DF);
  background: rgba(33, 115, 223, 0.1);
}
.list-table4 .list-table4-content .add-list-item.manual h3, .list-table4 .list-table4-content .add-list-item.manual text, .list-table4 .list-table4-content .add-list-item.manual img {
  color: var(--basic-blue, #2173DF);
}
.list-table4 .list-table4-content .add-list-item h3, .list-table4 .list-table4-content .add-list-item text, .list-table4 .list-table4-content .add-list-item img {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  font-weight: 500;
}
.list-table4 .list-table4-content .add-list-item h3 {
  padding: 10px;
}
.list-table4 .list-table4-content .add-list-item text {
  margin-left: 10px;
  margin-right: 10px;
}
.list-table4 .list-table4-content .add-list-item img {
  height: 25px;
}

.folder-list button, .folder-list2 button {
  border-radius: 4px;
  padding: 4px 5px;
  justify-content: center;
  align-items: center;
  background-color: #FEC514;
  border-color: transparent;
  color: black;
}
.folder-list .folder-list-title, .folder-list2 .folder-list-title {
  width: 100%;
  display: flex;
  margin: 5px 0;
}
.folder-list .folder-list-title .folder-list-right-header, .folder-list2 .folder-list-title .folder-list-right-header {
  display: flex;
  float: right;
  margin-left: auto;
}
.folder-list .folder-list-title .folder-list-right-header button, .folder-list .folder-list-title .folder-list-right-header hr, .folder-list2 .folder-list-title .folder-list-right-header button, .folder-list2 .folder-list-title .folder-list-right-header hr {
  margin-right: 8px;
  height: 40px;
}
.folder-list .folder-list-title .folder-list-right-header button, .folder-list2 .folder-list-title .folder-list-right-header button {
  background-color: transparent;
  border: none;
  color: #1A1C21;
  margin-top: -2.5px;
}
.folder-list .folder-list-title .folder-list-right-header button:hover, .folder-list2 .folder-list-title .folder-list-right-header button:hover {
  cursor: pointer;
  color: #5D5FEF;
}
.folder-list .folder-list-title .folder-list-right-header hr, .folder-list2 .folder-list-title .folder-list-right-header hr {
  border: none;
  border-left: 2px solid hsl(200, 10%, 50%);
  width: 2px;
}
.folder-list .folder-list-title .folder-list-right-header .add-btn, .folder-list2 .folder-list-title .folder-list-right-header .add-btn {
  padding: 10px;
  font-size: 14px;
  border-radius: 7px;
  background-color: #FEC514;
  border-color: transparent;
  color: black;
  margin-right: 0;
}
.folder-list .folder-list-title .folder-list-right-header .add-btn .css-i4bv87-MuiSvgIcon-root, .folder-list2 .folder-list-title .folder-list-right-header .add-btn .css-i4bv87-MuiSvgIcon-root {
  margin-right: 4px;
}
.folder-list .folder-list-title .folder-list-right-header .css-i4bv87-MuiSvgIcon-root, .folder-list2 .folder-list-title .folder-list-right-header .css-i4bv87-MuiSvgIcon-root {
  font-size: 20px;
  color: #ACACAC;
}
.folder-list .folder-list-content, .folder-list2 .folder-list-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.folder-list .folder-list-content .folder-list-content-item, .folder-list2 .folder-list-content .folder-list-content-item {
  display: flex;
  width: calc(25% - 24px);
  height: 100px;
  border-radius: 12px;
  box-shadow: 0px 8px 48px 0px rgba(32, 35, 39, 0.05), 0px 4px 8px 0px rgba(32, 35, 39, 0.05), 0px 0px 1px 0px rgba(32, 35, 39, 0.2);
  margin-bottom: 16px;
  margin-left: 24px;
  padding: 10px 16px;
  overflow: scroll;
}
.folder-list .folder-list-content .folder-list-content-item:hover, .folder-list2 .folder-list-content .folder-list-content-item:hover {
  cursor: pointer;
  background-color: #F7F8FC;
}
.folder-list .folder-list-content .folder-list-content-item img, .folder-list2 .folder-list-content .folder-list-content-item img {
  width: 3vw;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  border-radius: 4px;
}
.folder-list .folder-list-content .folder-list-content-item .folder-list-item-desc, .folder-list2 .folder-list-content .folder-list-content-item .folder-list-item-desc {
  display: grid;
  margin: auto;
  margin-left: 15px;
}
.folder-list .folder-list-content .folder-list-content-item .folder-list-item-desc h2, .folder-list .folder-list-content .folder-list-content-item .folder-list-item-desc h3, .folder-list2 .folder-list-content .folder-list-content-item .folder-list-item-desc h2, .folder-list2 .folder-list-content .folder-list-content-item .folder-list-item-desc h3 {
  margin-left: 0;
  padding: 0 5px;
  white-space: nowrap;
}
.folder-list .folder-list-content .folder-list-content-item .folder-list-item-desc h2, .folder-list2 .folder-list-content .folder-list-content-item .folder-list-item-desc h2 {
  text-align: left;
  color: #343741;
  font-size: 16px;
  margin-bottom: 15px;
}
.folder-list .folder-list-content .folder-list-content-item .folder-list-item-desc h3, .folder-list2 .folder-list-content .folder-list-content-item .folder-list-item-desc h3 {
  text-align: left;
  font-size: 13px;
  color: rgba(61, 65, 77, 0.831372549);
  margin-top: -10px;
}

.fourth-table {
  display: none;
}
.fourth-table .fourth-table-content {
  display: grid;
}
.fourth-table .fourth-table-content button {
  border-radius: 4px;
  padding: 4px 5px;
  justify-content: center;
  align-items: center;
  background-color: #FEC514;
  border-color: transparent;
  color: black;
}
.fourth-table .fourth-table-content .fourth-table-title {
  width: 100%;
  display: flex;
}
.fourth-table .fourth-table-content .fourth-table-title .fourth-table-right-header {
  display: flex;
  float: right;
  margin-left: auto;
}

.table-header {
  margin-top: 20px;
  display: grid;
}
.table-header .left-header, .table-header .right-header {
  display: flex;
}
.table-header .left-header .table-header-item, .table-header .right-header .table-header-item {
  display: flex;
  margin: 10px;
}
.table-header .left-header .table-header-item input[type=checkbox], .table-header .left-header .table-header-item button, .table-header .left-header .table-header-item label, .table-header .left-header .table-header-item h3, .table-header .right-header .table-header-item input[type=checkbox], .table-header .right-header .table-header-item button, .table-header .right-header .table-header-item label, .table-header .right-header .table-header-item h3 {
  color: #606060;
  font-size: 15px;
}
.table-header .left-header .table-header-item h3, .table-header .right-header .table-header-item h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
}
.table-header .left-header .table-header-item label, .table-header .right-header .table-header-item label {
  padding-top: 6px;
}
.table-header .left-header .table-header-item input[type=checkbox], .table-header .right-header .table-header-item input[type=checkbox] {
  margin-top: 6px !important;
}
.table-header .left-header .table-header-item input:hover, .table-header .left-header .table-header-item button:hover, .table-header .right-header .table-header-item input:hover, .table-header .right-header .table-header-item button:hover {
  cursor: pointer;
  color: #5D5FEF;
}
.table-header .left-header .table-header-item input[type=checkbox], .table-header .right-header .table-header-item input[type=checkbox] {
  margin: 0 7.5px 6px;
  border-radius: 3px;
  border: 1.5px solid #ACACAC;
}
.table-header .left-header .table-header-item input[type=checkbox]:checked, .table-header .right-header .table-header-item input[type=checkbox]:checked {
  background-color: #2196F3;
}
.table-header .left-header .table-header-item button, .table-header .right-header .table-header-item button {
  background-color: transparent;
  border: none;
}
.table-header .right-header {
  display: flex;
  float: right;
  margin-left: auto;
}
.table-header hr {
  width: 100%;
}

.empty-table {
  width: 100%;
  display: flex;
  height: calc(100% - 150px);
  padding: 20px 0;
}
.empty-table .empty-table-content {
  display: grid;
  margin: auto;
}
.empty-table .empty-table-content img {
  height: 15vh;
  margin: auto;
}
.empty-table .empty-table-content h2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.empty-table .empty-table-content button {
  padding: 10px 25px;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.table-content-1 {
  width: 100%;
  display: grid;
  height: calc(100% - 150px);
  position: relative;
}
.table-content-1 .table-content-1-item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 28px;
  background-color: #F8F8F8;
}
.table-content-1 .table-content-1-item .table-content-1-item-content {
  width: 100%;
  text-align: left;
  padding: 12.5px 20px;
  align-items: center;
}
.table-content-1 .table-content-1-item .table-content-1-item-content img {
  height: 25px;
  margin-right: 15px;
  border-radius: 5px;
}
.table-content-1 .table-content-1-item:hover {
  cursor: pointer;
  background-color: #E2E2E2;
}
.table-content-1 .table-content-1-item button {
  float: right;
  background-color: transparent;
  margin-top: -3px;
  margin-right: 10px;
}
.table-content-1 .table-content-1-item button:hover {
  color: #5D5FEF;
}
.table-content-1 .table-content-1-item .active {
  color: #5D5FEF;
}

.minimised-table-item, .expanded-table-item {
  width: 100%;
  display: flex;
  padding: 20px 10px;
  background-color: #FFF;
  border-radius: 12px;
  border: 1px solid transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}
.minimised-table-item h1, .expanded-table-item h1 {
  font-size: 24px;
  text-transform: capitalize;
  padding: 10px 0;
}
.minimised-table-item h2, .expanded-table-item h2 {
  font-size: 20px;
  color: #ACACAC;
  padding: 10px;
  margin-left: 0 !important;
  margin-right: 10px !important;
}
.minimised-table-item h3, .expanded-table-item h3 {
  font-size: 16px;
  margin-left: 5px;
}
.minimised-table-item button, .expanded-table-item button {
  background-color: transparent;
  border: none;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  float: right;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 0;
}
.minimised-table-item.active, .expanded-table-item.active {
  box-shadow: 0px 8px 32px -6px rgba(20, 23, 26, 0.207), 0px 6px 20px -6px rgba(20, 23, 26, 0.207);
}

.minimised-table-item {
  cursor: pointer;
}
.minimised-table-item h1 {
  margin: auto;
}
.minimised-table-item h2 {
  margin: auto;
}

.expanded-table-item h2 {
  margin-top: 2px;
}
.expanded-table-item .expanded-table-subitem {
  display: flex;
  margin-bottom: 15px;
}
.expanded-table-item .expanded-table-subitem .expanded-table-subitem-content {
  width: 100%;
  display: grid;
}
.expanded-table-item .expanded-table-subitem h2 {
  font-size: 16px;
  width: 35px;
  margin-right: 5px;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}
.expanded-table-item .expanded-table-subitem h1 {
  font-size: 18px;
  margin-bottom: 5px;
}
.expanded-table-item .expanded-table-subitem h3 {
  font-size: 16px;
  text-align: justify;
}
.expanded-table-item .expanded-table-sub-subitem {
  display: flex;
  margin-bottom: 5px;
}
.expanded-table-item .expanded-table-sub-subitem h1 {
  color: grey;
}
.expanded-table-item .expanded-table-sub-subitem h1, .expanded-table-item .expanded-table-sub-subitem h2 {
  font-size: 16px;
  white-space: nowrap;
  min-width: 30px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-weight: 400;
}
.expanded-table-item .expanded-table-sub-subitem h3 {
  margin-left: 20px;
  text-align: justify;
}

.edit-selected {
  border-radius: 9px;
  background-color: rgba(33, 115, 223, 0.3);
  padding: 10px 15px;
  margin-bottom: 10px;
}/*# sourceMappingURL=table.css.map */