.edit{
    display: grid;
    & .edit-suggestion{
        margin-bottom: 15px;
        & button{
            margin: 0 !important;
            float: left !important;
            border-radius: 35px !important;
            background-color: rgba(165, 166, 246, 0.20) !important;
            padding: 7.5px 20px !important;
            text-align: center !important;
            align-items: flex-start !important;
            gap: 12px !important;
            color: #5D5FEF !important;
            font-size: 14px !important;
            font-weight: 500 !important;
        }
        & h3{
            float: right !important;
            margin-top: 5px !important;
            margin-right: 0 !important;
            color: black !important;
            font-size: 16px !important;
            padding: 0 !important;
            & img{
                height: 25px !important;
                margin-top: -2px !important;
                margin-right: 5px !important;
            }
        }
    }
    & .edit-prompt{
        display: flex;
        & img, input, button{
            height: 25px !important;
        }
        & img{
            margin-right: 10px !important;
        }
        & input, input:focus{
            width: calc(85% - 45px) !important;
            border: 1px solid transparent !important;
            margin-right: 10px !important;
            outline: none !important;
        }
        & button{
            width: calc(15% - 45px) !important;
            color: #ACACAC !important;
            text-align: right !important;
            padding: 0 !important;
            float: right !important;
            margin: auto !important;
            margin-right: 0 !important;
        }
    }
}
.loading-table-item{
    display: grid;
    text-align: center;
    & .loading-message{
        white-space: nowrap;
        display: flex;
        width: fit-content;
        margin: auto;
        margin-top: 20px;
        & img{
            height: 25px;
            margin-top: 7px;
        }
        & h2{
            font-size: 16px;
            color: #5D5FEF;
            margin: 0 !important;
        }
    }
    & .loading-circle{
        margin: auto;
        height: 30px;
        width: 30px;
    }
    & input{
        height: 40px;
        width: 30vw;
        padding: 10px;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin: auto;
        border: none !important;
        border-color: transparent;
        border-radius: 4px;
        background-color: #F1F4F9 !important;
        color: #8496AE !important;
    }
}
.edit-pop-up{
    display: flex;
    position: absolute;
    z-index: 500;
    float: right;
    right: 10px;
    margin-top: 45px;
    & .edit, .edit-pop-up-content, .edit-help{
        border-radius: 9px;
        background-color: #FFF !important;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 8px 48px 0px rgba(32, 35, 39, 0.05), 0px 4px 8px 0px rgba(32, 35, 39, 0.05), 0px 0px 1px 0px rgba(32, 35, 39, 0.20);
    }
    & .edit{
        width: auto;
        height: 60px;
        & .edit-prompt{
            margin: auto;
            & input{
                width: 20vw !important;
            }
            & button{
                width: fit-content !important;
                background-color: transparent;
                border: none
            }
        }
    }
    & .edit-help{
        width: 22vw;
        right: 250px;
        position: absolute;
        & h2, h3, text, button{
            font-size: 16px !important;
        }
        & .edit-help-title{
            display: flex;
            & img{
                height: 23px;
                margin-right: 8px;
            }
            & h2{
                color: #202327;
            }
            & .close-button{
                width: fit-content;
                text-align: right;
                margin: auto;
                margin-right: 0;
                & button{
                    color: black;
                    background-color: transparent;
                    font-weight: 900;
                    border-color: transparent;
                }
            }
        }
        & h3{
            color: #5D5FEF;
            font-weight: 700;
        }
        & .edit-help-content{
            display: grid;
            padding: 10px;
            border-radius: 9px;
            background-color: #F7F8FC;
            & text{
                color: #343741;
            }
        }
    }
    & .edit-pop-up-content{
        display: grid;
        width: auto;
        & hr{
            height: 1.5px !important;
        }
        & .pop-up-item{
            text-align: left;
            display: flex;
            border-radius: 9px;
            padding: 5px 8px;
            margin-bottom: 8px;
            &:hover, &.active{
                cursor: pointer;
                background-color: #F7F8FC;
            }
            & img{
                height: 25px;
                color: #5D5FEF;
                margin: auto;
                margin-right: 10px;
                margin-left: 0;
            }
            & .pop-up-item-title{
                display: grid;
                font-size: 12px;
                & button{
                    text-align: left;
                    background-color: transparent;
                    color: black;
                    border: none;
                    padding: 0;
                }
                & text{
                    color: #ACACAC;
                }
            }
        }
    }
}
.main-table, .secondary-table, .folder-list, .folder-list2, .fourth-table, .list-table4{
    width: 100%;
    overflow: scroll;
    position: relative;
    & h1{
        font-size: 32px;
        font-weight: 700;
        float: left;
    }
    & h2{
        padding: 5px;
        font-size: 16px;
        text-align: justify;
    }
    & .table-directory{
        margin-bottom: 10px;
        display: flex;
        & h3{
            height: 35px;
            font-size: 12px;
            color: #929292;
            align-items: center;
            margin: auto;
            margin-left: 0;
        }
        & .table-directory-left-header{
            display: flex;
            height: 35px;
            & h3{
                height: 35px;
                margin-top: 10px;
            }
            & button, h3{
                margin-right: 5px !important;
            }
            & button{
                background-color: transparent;
                color: #929292;
                height: fit-content;
                border: none;
                padding: 0;
                margin: 0;
                margin-top: 7px;
                font-size: 12px;
                max-width: 20vw;
                white-space: nowrap;
                & .css-i4bv87-MuiSvgIcon-root{
                    color: #2173DF;
                    margin-left: 5px;
                    font-size: 13px;
                }
                &:hover{
                    cursor: pointer;
                    color: #5D5FEF;
                }
            }
        }
        & .table-directory-right-header{
            display: flex;
            float: right;
            margin-left: auto;
            & button, hr{
                margin-right: 8px;
                height: 35px;
            }
            & button{
                background-color: transparent;
                border: none;
                color: black;
                &:hover{
                    cursor: pointer;
                    color: #5D5FEF;
                }
            }
            & hr{ 
                border: none;
                border-left: 2px solid hsla(200, 10%, 50%,100);
                width: 2px;
            }
            & .edit-btn{
                padding: 5px;
                font-size: 14px;
                border-radius: 4px;
                background-color: #FEC514;
                border-color: transparent;
                color: black;
                margin-right: 0;
                & .css-i4bv87-MuiSvgIcon-root{
                    margin-right: 4px;
                }
            }
            & .ai-edit-btn{
                background-color: #A5A6F6;
                background: rgba(165, 166, 246, 0.20);
                border-radius: 18px;
                border: 0.75px solid #5D5FEF;
                padding: 0 10px;
                &.active{
                    color: #5D5FEF;
                }
                & img{
                    height: 20px;
                    margin-top: -5px;
                    margin-right: 5px;
                }
            }
            & .save-btn{
                background-color: #2173DF;
                border-radius: 4px;
                padding: 0 10px;
                color: white;
                &:hover{
                    color: black;
                }
                & .css-i4bv87-MuiSvgIcon-root{
                    margin-right: 5px;
                }
            }
            & .css-i4bv87-MuiSvgIcon-root{
                font-size: 16px;
            }
        }
    }
}
.main-table{
    & button{
        border-radius: 4px;
        padding: 4px 5px;
        justify-content: center;
        align-items: center;
        background-color: #FEC514;
        border-color: transparent;
        color: black;
    }
    & .main-table-title{
        width: 100%;
        display: flex;
        margin: 10px 0;
        & .main-table-right-header{
            display: flex;
            float: right;
            margin-left: auto;
        }
    }
}
.secondary-table{
    display: none;
    & .secondary-table-content{
        display: grid;
        & .secondary-table-items{
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            background-color: #F8F8F8;
            border-radius: 20px;
            & .items-title{
                display: flex;
                height: 30px;
                & h1, button{
                    height: 30px;
                    margin: auto;
                }
                & h1{
                    font-size: 20px;
                    margin-left: 0;
                }
                & button{
                    font-size: 12px;
                    margin: auto;
                    float: right;
                    margin-right: 0;
                    color: black;
                    background-color: transparent;
                    border: none;
                    & .css-i4bv87-MuiSvgIcon-root{
                        color: #A2ABBA;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.list-table4{
    display: none;
    & .list-table4-content{
        display: grid;
        & h1{
            margin-top: -10px;
            margin-bottom: 0;
        }
        & .list-table4-desc{
            height: fit-content;
            display: grid;
            & hr{
                margin-top: 20px !important;
                margin-bottom: 20px !important;
                height: 1px;
            }
            & .list-table4-desc-item{
                display: flex;
                padding: 8px 15px;
                & h2, text, .css-i4bv87-MuiSvgIcon-root, .desc-item-list{
                    font-size: 16px;
                    padding: 0;
                }
                & h2, .css-i4bv87-MuiSvgIcon-root{
                    height: 20px;
                }
                & h2{
                    color: #ACACAC;
                    width: 170px;
                }
                & text, .desc-item-list{
                    width: calc(100% - 170px);
                    text-align: justify;
                }
                & .css-i4bv87-MuiSvgIcon-root{
                    margin-top: -1.5px;
                    margin-right: 5px;
                    font-size: 18px;
                }
                & .desc-item-list{
                    display: grid;
                    & .desc-item-list-item{
                        display: flex;
                        margin-bottom: 5px;
                        & h3{
                            min-width: 30px;
                            font-size: 16px;
                            margin: 0;
                            padding: 0;
                            margin-top: 3px;
                        }
                        & text{
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
        & .list-table4-list{
            margin-bottom: 20px;
            background-color: #F8F8F8;
            width: 100%;
            height: fit-content;
            border-radius: 20px;
            padding: 10px 20px;
            display: grid;
            &:hover{
                cursor: pointer;
            }
            & .list-table4-list-heading{
                & h2{
                    margin: auto;
                    margin-left: 0;
                }
                & button{
                    margin-left: 0 !important;
                    font-size: 12px;
                    white-space: nowrap;
                }
                & .css-i4bv87-MuiSvgIcon-root{
                    height: 20px;
                    color: #A2ABBA;
                }
            }
            & h2{
                color: #343741;
                font-size: 20px;
                font-weight: 700;
                line-height: 140%;
            }
            & .css-i4bv87-MuiSvgIcon-root{
                margin-top: -3px;
            }
            & .list-table4-list-item{
                display: grid;
                padding: 10px;
                border-radius: 12px;
                background-color: #FFFFFF;
                margin-bottom: 10px;
                & .edit{
                    margin-left: 50px;
                }
                &:hover{
                    cursor: pointer;
                }
                &.active{
                    box-shadow: 0px 8px 32px -6px rgba(20, 23, 26, 0.207), 0px 6px 20px -6px rgba(20, 23, 26, 0.207);
                }
                & h3{
                    margin: auto;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 20px;
                    color: #ACACAC;
                    min-width: 50px;
                    padding: 10px;
                }
                & text{
                    margin: auto;
                    margin-left: 0;
                    margin-right: 10px;
                    font-size: 16px;
                    color: #343741;
                    text-align: justify;
                }
                & .heading{
                    & h3{
                        font-size: 20px;
                        margin-top: 3px;
                    }
                    & text{
                        font-weight: 900;
                        font-size: 22px;
                    }
                }
                & .sub-items{
                    margin-left: 40px;
                    display: grid;
                    & hr{
                        margin: 10px;
                        height: 2px;
                        background-color: #bebebe;
                    }
                    & .sub-items-content{
                        display: flex;
                    }
                }
            }
            & button{
                background-color: transparent;
                border: none;
                color: black;
                height: fit-content;
                margin-top: 10px;
                float: right;
                padding-left: 20px;
                margin-left: auto;
                margin-right: 0;
            }
        }
        & .add-list-item{
            display: flex;
            border-radius: 12px;
            border: 2px solid var(--accent-purple-dark, #5D5FEF);
            background: rgba(165, 166, 246, 0.20);
            padding: 10px;
            & h3, text, img{
                margin: auto;
                margin-left: 0;
                margin-right: 0;
                color: var(--accent-purple-dark, #5D5FEF);
                font-size: 20px;
                font-weight: 500;
            }
            & h3{
                padding: 10px;
            }
            & text{
                margin-left: 10px;
                margin-right: 10px;
            }
            & img{
                height: 25px;
            }
        }
    }
}
.folder-list, .folder-list2{
    & button{
        border-radius: 4px;
        padding: 4px 5px;
        justify-content: center;
        align-items: center;
        background-color: #FEC514;
        border-color: transparent;
        color: black;
    }
    & .folder-list-title{
        width: 100%;
        display: flex;
        margin: 5px 0;
        & .folder-list-right-header{
            display: flex;
            float: right;
            margin-left: auto;
            & button, hr{
                margin-right: 8px;
                height: 40px;
            }
            & button{
                background-color: transparent;
                border: none;
                color: #1A1C21;
                margin-top: -2.5px;
                &:hover{
                    cursor: pointer;
                    color: #5D5FEF;
                }
            }
            & hr{ 
                border: none;
                border-left: 2px solid hsla(200, 10%, 50%,100);
                width: 2px;
            }
            & .add-btn{
                padding: 10px;
                font-size: 14px;
                border-radius: 7px;
                background-color: #FEC514;
                border-color: transparent;
                color: black;
                margin-right: 0;
                & .css-i4bv87-MuiSvgIcon-root{
                    margin-right: 4px;
                }
            }
            & .css-i4bv87-MuiSvgIcon-root{
                font-size: 20px;
                color: #ACACAC;
            }
        }
    }
    & .folder-list-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        & .folder-list-content-item{
            display: flex;
            width: calc(100% / 4 - 24px);
            height: 100px;
            border-radius: 12px;
            box-shadow: 0px 8px 48px 0px rgba(32, 35, 39, 0.05), 0px 4px 8px 0px rgba(32, 35, 39, 0.05), 0px 0px 1px 0px rgba(32, 35, 39, 0.20);
            margin-bottom: 16px;
            margin-left: 24px;
            padding: 10px 16px;
            overflow: scroll;
            &:hover{
                cursor: pointer;
                background-color: #F7F8FC;
            }
            & img{
                width: 3vw;
                text-align: center;
                align-items: center;
                margin: auto;
                margin-right: 0;
                margin-left: 0;
                border-radius: 4px;
            }
            & .folder-list-item-desc{
                display: grid;
                margin: auto;
                margin-left: 15px;
                & h2, h3{
                    margin-left: 0;
                    padding: 0 5px;
                    white-space: nowrap;
                }
                & h2{
                    text-align: left;
                    color: #343741;
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                & h3{
                    text-align: left;
                    font-size: 13px;
                    color: #3d414dd4;
                    margin-top: -10px;
                }
            }
        }
    }
}
.fourth-table{
    display: none;
    & .fourth-table-content{
        display: grid;
        & button{
            border-radius: 4px;
            padding: 4px 5px;
            justify-content: center;
            align-items: center;
            background-color: #FEC514;
            border-color: transparent;
            color: black;
        }
        & .fourth-table-title{
            width: 100%;
            display: flex;
            & .fourth-table-right-header{
                display: flex;
                float: right;
                margin-left: auto;
            }
        }
    }
}
.table-header{
    margin-top: 20px;
    display: grid;
    & .left-header, .right-header{
        display: flex;
        & .table-header-item{
            display: flex;
            margin: 10px;
            & input[type = 'checkbox'], button, label, h3{
                color: #606060;
                font-size: 15px;
                
            }
            & h3{
                color: rgb(0, 0, 0);
                font-weight: 500;
                margin-top: 10px;
                margin-left: 5px;
                
            }
            & label{
                padding-top: 6px;
            }
            & input[type = 'checkbox']{
                margin-top: 6px !important;
            }
          
            & input, button{
                &:hover{
                    cursor: pointer;
                    color: #5D5FEF;
                }
            }
            & input[type = 'checkbox']{
                margin: 0 7.5px 6px;
                border-radius: 3px;
                border: 1.5px solid #ACACAC;
                &:checked{
                    background-color: #2196F3;
                }
            }
            & button{
                background-color: transparent;
                border: none;
            }
        }
    }
    & .right-header{
        display: flex;
        float: right;
        margin-left: auto;
    }
    & hr{
        width: 100%;
    }
}
.empty-table{
    width: 100%;
    display: flex;
    height: calc(100% - 150px);
    padding: 20px 0;
    & .empty-table-content{
        display: grid;
        margin: auto;
        & img{
            height: 15vh;
            margin: auto;
        }
        & h2{
            margin: auto;
            margin-top: 20px; 
            margin-bottom: 15px;
        }
        & button{
            padding: 10px 25px;
            margin: auto;
            width: fit-content;
        }
    }
}
.table-content-1{
    width: 100%;
    display: grid;
    height: calc(100% - 150px);
    & .table-content-1-item{
        width: 100%;
        margin-bottom: 15px;
        & button{
            border-radius: 28px;
            background-color: #F8F8F8;
            width: 100%;
            text-align: left;
            padding: 12.5px 20px;
            align-items: center;
            & img{
                height: 25px;
                margin-right: 15px;
                border-radius: 5px;
            }
            &:hover{
                background-color: #E2E2E2;
            }
        }
    }
}
.minimised-table-item, .expanded-table-item{
    width: 100%;
    display: flex;
    padding: 20px 10px;
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid transparent;
    margin-top: 8px;
    margin-bottom: 8px;
    & h1{
        font-size: 24px;
        text-transform: capitalize;
        padding: 10px 0;
    }
    & h2{
        font-size: 20px;
        color: #ACACAC;
        padding: 10px;
        margin-left: 0 !important;
        margin-right: 10px !important;
    }
    & h3{
        font-size: 16px;
        margin-left: 5px;
    }
    & button{
        background-color: transparent;
        border: none;
        color: black;
        height: fit-content;
        margin-top: 10px;
        float: right;
        padding-left: 20px;
        margin-left: auto;
        margin-right: 0;
    }
}
.minimised-table-item{
    cursor: pointer;
    & h1{
        margin: auto;
    }
    & h2{
        margin: auto;
    }
}
.expanded-table-item{
    & h2{
        margin-top: 2px;
    }
    & .expanded-table-subitem{
        display: flex;
        margin-bottom: 15px;
        & .expanded-table-subitem-content{
            width: 100%;
            display: grid;
        }
        & h2{
            font-size: 16px;
            width: 35px;
            margin-right: 5px;
            margin-top: 0;
            padding-top: 0;
            padding-left: 0;
        }
        & h1{
            font-size: 18px;
            margin-bottom: 5px;
        }
        & h3{
            font-size: 16px;
            text-align: justify;
        }
    }
    & .expanded-table-sub-subitem{
        display: flex;
        margin-bottom: 5px;
        & h1{
            color: grey;
        }
        & h1, h2{
            font-size: 16px;
            white-space: nowrap;
            min-width: 30px;
            padding: 0;
            margin: 0;
            margin-left: 5px;
            font-weight: 400;
        }
        & h3{
            margin-left: 20px;
            text-align: justify;
        }
    }
}