.main-table{
    width: 100%;
    height: 100%;
    overflow: scroll;
    & button{
        border-radius: 4px;
        padding: 4px 5px;
        justify-content: center;
        align-items: center;
        background-color: #FEC514;
        border-color: transparent;
        color: black;
    }
    & .main-table-title{
        width: 100%;
        display: flex;
        margin: 10px 0;
        & h1{
            font-size: 32px;
            font-weight: 500;
            float: left;
        }
        & .main-table-right-header{
            display: flex;
            float: right;
            margin-left: auto;
        }
    }
}
.table-header{
    margin-top: 20px;
    display: grid;
    & .left-header, .right-header{
        display: flex;
        & .table-header-item{
            display: flex;
            margin: 10px;
            & input[type = 'checkbox'], button, label, h3{
                color: #606060;
                font-size: 15px;
            }
            & input[type = 'checkbox']{
                margin-top: 6px !important;
            }
            & h3{
                color: black;
                font-weight: 500;
                margin-top: 3px;
                margin-left: 5px;
            }
            & input, button{
                &:hover{
                    cursor: pointer;
                    color: #5D5FEF;
                }
            }
            & input[type = 'checkbox']{
                margin: 0 7.5px;
                border-radius: 3px;
                border: 1.5px solid #ACACAC;
                &:checked{
                    background-color: #2196F3;
                }
            }
            & button{
                background-color: transparent;
                border: none;
            }
        }
    }
    & .right-header{
        display: flex;
        float: right;
        margin-left: auto;
    }
    & hr{
        width: 100%;
    }
}
.empty-table{
    width: 100%;
    display: flex;
    height: calc(100% - 150px);
    padding: 20px 0;
    overflow: scroll;
    & .empty-table-content{
        display: grid;
        margin: auto;
        & img{
            height: 15vh;
            margin: auto;
        }
        & h2{
            margin: auto;
            margin-top: 20px; 
            margin-bottom: 15px;
        }
        & button{
            padding: 10px 25px;
            margin: auto;
            width: fit-content;
        }
    }
}
.table-content-1{
    width: 100%;
    display: flex;
    height: calc(100% - 150px);
    overflow: scroll;
    & .table-content-1-item{
        width: 100%;
        & button{
            border-radius: 28px;
            background-color: #F8F8F8;
            width: 100%;
            text-align: left;
            padding: 12.5px 20px;
            align-items: center;
            & img{
                height: 25px;
                margin-right: 15px;
            }
        }
    }
}