html * {
    font-family: 'DM Sans' !important;
}

button{
    border-radius: 10px;
    background-color: #5D5FEF;
    border-style: solid;
    border-color: #5D5FEF;
    color: #F7F8FC;
}

// -----LOADING PAGE FOR CREATION-----
.loading-page{
    display: grid;
    & .loading-message{
        white-space: nowrap;
        display: flex;
        width: fit-content;
        margin: auto;
        margin-top: 20px;
        & img{
            height: 25px;
            margin-right: 10px;
        }
        & h2{
            font-size: 16px;
            color: #5D5FEF;
            margin: 0 !important;
        }
    }
    & input{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin: auto;
        background-color: #F1F4F9 !important;
        border-radius: 4px !important;
        color: #8496AE !important;
    }
}

// -----DROPDOWN ARROW-----
.dropdown-arrow-area{
    height: 100px;
}
.dropdown-arrow {
    margin-left: 10px;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    background-color: transparent;
    &:hover{
        cursor: pointer;
        border-bottom: 10px solid black !important;
        border-top: 10px solid transparent !important;
    }
}

// -----DROPDOWN MENU-----
.dropdown-content{
    display: grid;
    position: absolute;
    z-index: 500;
    float: right;
    background-color: #FFF;
    white-space: nowrap;
    padding: 10px;
    width: fit-content;
    box-shadow: 0 0 10px #888888;
    border-radius: 9px;
    & button, a{
        margin: 8px 0;
        padding: 12px;
        background-color: transparent;
        border: none;
        color: black;
        text-align: left;
        text-decoration: none;
        &:hover{
            background-color: #F7F8FC;
            border-radius: 9px;
        }
    }
    & svg, svg{
        margin: 0;
        margin-right: 10px;
    }
    & .hover-arrow{
        margin-top: 3px;
        margin-right: 0;
        margin-left: 10px;
        float: right;
        font-size: 16px;
    }
}

// -----POPUP WINDOW-----
.form-popup {
    display: none;
    position: fixed !important;
    z-index: 9;
    padding: auto;
    overflow: scroll;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 100vw #0000007c;
    & .content-form{
        margin: 20px 40px;
        & .header{
            display: flex;
            & h2{
                margin: 0;
            }
            & svg{
                margin-right: 10px;
            }
            & .close-button{
                float: right;
                text-align: right;
                margin: auto;
                margin-right: -10px;
                background-color: transparent;
                border: none;
                color: black;
            }
        }
    }
    & h1, h2, h3, .pop-up-input{
        margin: 20px 0;
    }
    & h1{
        font-size: 24px;
        color: #343741;
        font-weight: 700;
    }
    & h2{
        font-size: 20px;
    }
    & h3, label, input::placeholder{
        font-size: 14px;
        color: #ACACAC;
    }
    & hr{
        margin: 20px -40px;
        width: auto;
       
    }

    & .pop-up-input{
        display: grid;
        & .dropdown button{
            color: black;
            text-align: left;
        }
        & input, button, .dropdown, textarea{
            height: 48px  !important;
            border-radius: 4px;
        }
        & input{
            width: 100%;
        }
        & input, .dropdown, .dropdown-menu, textarea{
            background-color: #f1f1f1;
        }
        & textarea{
            height: 10vh !important;
        }
        & textarea:focus, input:focus{
            outline: none;
            border-bottom: 1.5px solid #5D5FEF;
        }
    }

    & .pop-up-button{
        display: flex;
        float: right;
        margin-bottom: 12px;
        & button{
            min-height: fit-content;
            height: 5vh;
            width: 7vw;
            border-radius: 8px;
            border: 1.5px solid transparent;
            font-size: 16px;
        }
        & .cancel-button{
            background-color: transparent;
            margin-right: 20px;
            color: black;

        }
        & .next-button{
            background-color: #A2ABBA;
        }
    }
    & .title{
        display: flex;
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: -10px;
        & button{
            color: #ACACAC;
            background-color: transparent;
            border-color: transparent;
        }
        & span{
            font-size: 20px;
        }
    }
}
.form-container {
    padding: 10px;
    background-color: white;
}
.form-container{
    & input, select, textarea{
        padding: 15px;
        margin: 5px 0 0 0;
        border: none;
        background: #f1f1f1;
    }
}
.form-container input:focus, .form-container select:focus{
    outline: none;
}
.form-floating select{
    height: calc(3.5rem + 2px);
}

// -----DROPDOWN INPUT-----
.dropdown, .dropdown-menu{
    width: 100%;
    font-size: 16px;
}
.dropdown{
    &.show{
        & .btn{
            border-bottom: 1.5px solid #5D5FEF;
        }
    }
    & button, button:active, button:hover{
        background-color: transparent;
    }
    & button{
        width: 100%;
        border: none;
        color: black;
    }
}
.dropdown-menu{
    & button{
        margin-bottom: 5px;
    }
    & button:hover{
        // background-color: rgb(108, 117, 125);
        background-color: #5d5fef44;
    }
}
.help-btn{
    display: flex;
    border-radius: 9px;
    padding: 5px 8px;
    font-size: 12px;
    text-align: left;
    &:hover, &.active{
        cursor: pointer;
        background-color: #F7F8FC;
    }
    & img{
        height: 25px;
        margin: auto;
        margin-right: 10px;
        margin-left: 0;
    }
    & button{
        background-color: transparent;
        border: none;
        color: black;
        padding: 0;
    }
    & svg{
        margin: auto;
        margin-right: 0;
        height: 15px;
    }
}

// ------CONFIRMATION POP UP-----
$confirmation-width: 40vw;
$confirmation-height: 50vh;
.confirmation{
    top: calc((100vh - $confirmation-height) / 2);
    height: fit-content;
    max-height: $confirmation-height;
    width: $confirmation-width;
    left: calc((100vw - $confirmation-width) / 2);
    right: calc((100vw - $confirmation-width) / 2);
    & .title{
        display: grid;
        text-align: center;
        & h1{
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
            color: #343741;
        }
        & h3{
            margin-top: 0;
            font-size: 16px;
            color: #1A1C21;
        }
    }
    & .cancel-button{
        border-color: #BD271E !important;
        color: #BD271E !important;
    }
    & .delete-button{
        color: white !important;
        background-color: #BD271E !important;
    }
    & .pop-up-input{
        display: flex;
        background-color: #F8F8F8;
        padding: 3px 15px;
        border-radius: 28px;
        & img{
            height: 25px;
            margin: auto;
            margin-left: 0;
            margin-right: 0;
            border-radius: 8px;
        }
        & input{
            margin-top: 0;
            background-color: transparent;
            &:focus{
                border-color: transparent !important;
            }
        }
    }
}