html * {
    font-family: 'DM Sans' !important;
}

button{
    border-radius: 10px;
    background-color: #5D5FEF;
    border-style: solid;
    border-color: #5D5FEF;
    color: #F7F8FC;
}

.dropdown-arrow {
    margin-left: 10px;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    background-color: transparent;
}

// -----POPUP WINDOW-----
.form-popup {
    display: none;
    position: fixed !important;
    border: 3px solid #f1f1f1;
    z-index: 9;
    padding: auto;
    overflow: scroll;
    border-radius: 30px;
    & .content-form{
        margin: 20px 40px;
    }
    & h1, h2, h3, .pop-up-input{
        margin: 20px 0;
    }
    & h1{
        font-size: 24px;
        color: #343741;
        font-weight: 700;
    }
    & h2{
        font-size: 20px;
    }
    & h3, label, input::placeholder{
        font-size: 16px;
        color: #ACACAC;
    }
    & hr{
        margin: 20px -40px;
        width: auto;
        border: 1.5px solid #a8a7a7;
    }
    & .pop-up-input{
        display: grid;
        & .dropdown button{
            color: black;
            text-align: left;
        }
        & input, button, .dropdown{
            height: 5vh !important;
            border-radius: 4px;
        }
        & input, .dropdown, .dropdown-menu{
            background-color: #f1f1f1;
        }
    }
    & .pop-up-button{
        display: flex;
        float: right;
        & button{
            height: 5vh;
            width: 7vw;
            border-radius: 8px;
            border: 1.5px solid transparent;
            font-size: 16px;
        }
        & .cancel-button{
            background-color: transparent;
            margin-right: 20px;
            color: black;

        }
        & .next-button{
            background-color: #A2ABBA;
        }
    }
    & .title{
        display: flex;
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: -10px;
        & button{
            color: #ACACAC;
            background-color: transparent;
            border-color: transparent;
        }
        & span{
            font-size: 20px;
        }
    }
}
.form-container {
    padding: 10px;
    background-color: white;
}
.form-container input, .form-container select{
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    background: #f1f1f1;
}
.form-container input:focus, .form-container select:focus{
    outline: none;
}
.form-floating select{
    height: calc(3.5rem + 2px);
}

// -----DROPDOWN INPUT-----
.dropdown, .dropdown-menu{
    width: 100%;
    font-size: 16px;
}
.dropdown{
    & button, button:active, button:hover{
        background-color: transparent;
    }
    & button{
        width: 100%;
        border: none;
        color: black;
    }   
}
.dropdown-menu{
    & button{
        margin-bottom: 5px;
    }
    & button:hover{
        background-color: rgb(108, 117, 125);
    }
}