html * {
  font-family: "DM Sans" !important;
}

button {
  border-radius: 10px;
  background-color: #5D5FEF;
  border-style: solid;
  border-color: #5D5FEF;
  color: #F7F8FC;
}

.loading-page {
  display: grid;
}
.loading-page .loading-message {
  white-space: nowrap;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}
.loading-page .loading-message img {
  height: 25px;
  margin-right: 10px;
}
.loading-page .loading-message h2 {
  font-size: 16px;
  color: #5D5FEF;
  margin: 0 !important;
}
.loading-page input {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin: auto;
  background-color: #F1F4F9 !important;
  border-radius: 4px !important;
  color: #8496AE !important;
}

.dropdown-arrow-area {
  height: 100px;
}

.dropdown-arrow {
  margin-left: 10px;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  background-color: transparent;
}
.dropdown-arrow:hover {
  cursor: pointer;
  border-bottom: 10px solid black !important;
  border-top: 10px solid transparent !important;
}

.dropdown-content {
  display: grid;
  position: absolute;
  z-index: 500;
  float: right;
  background-color: #FFF;
  white-space: nowrap;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0 10px #888888;
  border-radius: 9px;
}
.dropdown-content button, .dropdown-content a {
  margin: 8px 0;
  padding: 12px;
  background-color: transparent;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
}
.dropdown-content button:hover, .dropdown-content a:hover {
  background-color: #F7F8FC;
  border-radius: 9px;
}
.dropdown-content .css-i4bv87-MuiSvgIcon-root {
  margin: 0;
  margin-right: 10px;
}
.dropdown-content .hover-arrow {
  margin-top: 3px;
  margin-right: 0;
  margin-left: 10px;
  float: right;
  font-size: 16px;
}

.form-popup {
  display: none;
  position: fixed !important;
  z-index: 9;
  padding: auto;
  overflow: scroll;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 100vw rgba(0, 0, 0, 0.4862745098);
}
.form-popup .content-form {
  margin: 20px 40px;
}
.form-popup h1, .form-popup h2, .form-popup h3, .form-popup .pop-up-input {
  margin: 20px 0;
}
.form-popup h1 {
  font-size: 24px;
  color: #343741;
  font-weight: 700;
}
.form-popup h2 {
  font-size: 20px;
}
.form-popup input::-moz-placeholder {
  font-size: 14px;
  color: #ACACAC;
}
.form-popup h3, .form-popup label, .form-popup input::placeholder {
  font-size: 14px;
  color: #ACACAC;
}
.form-popup hr {
  margin: 20px -40px;
  width: auto;
}
.form-popup .pop-up-input {
  display: grid;
}
.form-popup .pop-up-input .dropdown button {
  color: black;
  text-align: left;
}
.form-popup .pop-up-input input, .form-popup .pop-up-input button, .form-popup .pop-up-input .dropdown, .form-popup .pop-up-input textarea {
  height: 48px !important;
  border-radius: 4px;
}
.form-popup .pop-up-input input {
  width: 100%;
}
.form-popup .pop-up-input input, .form-popup .pop-up-input .dropdown, .form-popup .pop-up-input .dropdown-menu, .form-popup .pop-up-input textarea {
  background-color: #f1f1f1;
}
.form-popup .pop-up-input textarea {
  height: 10vh !important;
}
.form-popup .pop-up-input textarea:focus, .form-popup .pop-up-input input:focus {
  outline: none;
  border-bottom: 1.5px solid #5D5FEF;
}
.form-popup .pop-up-button {
  display: flex;
  float: right;
  margin-bottom: 12px;
}
.form-popup .pop-up-button button {
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 5vh;
  width: 7vw;
  border-radius: 8px;
  border: 1.5px solid transparent;
  font-size: 16px;
}
.form-popup .pop-up-button .cancel-button {
  background-color: transparent;
  margin-right: 20px;
  color: black;
}
.form-popup .pop-up-button .next-button {
  background-color: #A2ABBA;
}
.form-popup .title {
  display: flex;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -10px;
}
.form-popup .title button {
  color: #ACACAC;
  background-color: transparent;
  border-color: transparent;
}
.form-popup .title span {
  font-size: 20px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.form-container input, .form-container select, .form-container textarea {
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  background: #f1f1f1;
}

.form-container input:focus, .form-container select:focus {
  outline: none;
}

.form-floating select {
  height: calc(3.5rem + 2px);
}

.dropdown, .dropdown-menu {
  width: 100%;
  font-size: 16px;
}

.dropdown.show .btn {
  border: 2.5px solid #555;
}
.dropdown button, .dropdown button:active, .dropdown button:hover {
  background-color: transparent;
}
.dropdown button {
  width: 100%;
  border: none;
  color: black;
}

.dropdown-menu button {
  margin-bottom: 5px;
}
.dropdown-menu button:hover {
  background-color: rgb(108, 117, 125);
}

.help-btn {
  display: flex;
  border-radius: 9px;
  padding: 5px 8px;
  font-size: 12px;
  text-align: left;
}
.help-btn:hover, .help-btn.active {
  cursor: pointer;
  background-color: #F7F8FC;
}
.help-btn img {
  height: 25px;
  margin: auto;
  margin-right: 10px;
  margin-left: 0;
}
.help-btn button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
}
.help-btn .css-i4bv87-MuiSvgIcon-root {
  margin: auto;
  margin-right: 0;
  height: 15px;
}

.confirmation {
  top: 25vh;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50vh;
  width: 40vw;
  left: 30vw;
  right: 30vw;
}
.confirmation .title {
  display: grid;
  text-align: center;
}
.confirmation .title h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #343741;
}
.confirmation .title h3 {
  margin-top: 0;
  font-size: 16px;
  color: #1A1C21;
}
.confirmation .cancel-button {
  border-color: #BD271E !important;
  color: #BD271E !important;
}
.confirmation .delete-button {
  color: white !important;
  background-color: #BD271E !important;
}
.confirmation .pop-up-input {
  display: flex;
  background-color: #F8F8F8;
  padding: 3px 15px;
  border-radius: 28px;
}
.confirmation .pop-up-input img {
  height: 25px;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}
.confirmation .pop-up-input input {
  margin-top: 0;
  background-color: transparent;
}
.confirmation .pop-up-input input:focus {
  border-color: transparent !important;
}/*# sourceMappingURL=index.css.map */