$mainbox-width: calc(100vw - 240px - 8vw);
$halfbox-width: calc($mainbox-width * 0.5 - 4vw);
$button-width: calc($halfbox-width*0.5);
$primary-color: #343741;
$secondary-color: #3235FF;
$people-height: calc(96vh - 50px - 1vh - 12vh - 33vh - 32px);

.howToButtons{
  // gap: 4px;
  margin-top: -5px;
  margin-bottom: 0.8vh;
  color: #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-width;
  height:7vh;
  padding: 8px 20px;
  border-width: thin;
  background: rgba(165, 166, 246, 0.20);
  font-size: calc(3vh * 0.5);
  transition: background-color 0.3s ease;
  
}
.businesses-overview{
    display: flex;
    margin-top: 16px;
    height: 33vh;
    gap:2vw;


    & .yourbusiness, .update{
        width: $halfbox-width;
    }
    & .yourbusiness2{
      display: flex;
        padding: 1vw 1vh 0 1vw;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 2%;
        flex: 1 1 0;
        border-radius: 20px;
        background: #ffffff;
        height: 100% !important;
    }
    & .updates{
        margin-left: 15px;
        display: flex;
        padding: 2vh 20.956px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //gap: 8px;
        flex: 1 1 0;
        align-self: stretch;
        border-radius: 13.971px;
        background: linear-gradient(133deg, #3235FF 0%, #5C5FFF 100%);
        color: #F7F8FC;
        text-align: center;
        overflow: scroll;
        
        & .updateslogo{
            align-items: center;
            flex-shrink: 0;
            width: 7vh;
            height: 7vh;
        }
        & .updatestitle{
            color: var(--text-bod, #F7F8FC);
            font-size: calc(5vh * 0.7);
            font-family: DM Sans;
            font-weight: 500;
        }
        & .uptext{
            margin-bottom: 10px;
            display: flex;
            width: 400px;
            flex-direction: column;
            align-self: center;
            color: #F7F8FC;
            text-align: center;
            font-size: calc(2vh * 0.9);
            font-family: Inter;
            font-weight: lighter;
            line-height: 140%;
        }
        & .updatesbutton{
            display: flex;
            height: 4vh;
            padding: 2vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            border-color: transparent;
            color: #3235FF;
            background-color: #FFF;
            margin-top: -10px;
        }
    }

    // & .desciption-input{
    //     margin-bottom: 10px;
    //     margin-top: 8px;
    //     text-align: left;
    //     width: 300px;
    //     display: grid;
    //     color: #ff32e7;
    //     border-radius: 6px;
    // }
    & .container {
        width:33vw;
        height:25vh;
        //padding: 16px 20px;
        border-radius: 9px;
        border: 0.50px $secondary-color dotted;
        flex-direction: column;
        justify-content: center;
        display: flex;
       }
       & .contact-block{
        margin:auto;
       }
         & .contact-icon{
          padding: 2.4vh 0 0;
          font-size:2vh;
          color: #343741;
          gap:5px;
        }
      
        // & .message-container {
        //   display:flex;
        //   //align-self: stretch;
        //   height:auto;
        //   flex-direction: column;
        //   justify-content: flex-start;
        //   align-items: center;
        //   gap: 4px;
        //   color:#5C5FFF;
      
          // & .message {
          //   justify-content: center;
          //   align-items: center;
          //   gap: 1px;
          //   display: inline-flex;
          // }
            & .text {
              margin-top: 16px;
              text-align: center;
              color: $primary-color;
              font-size: calc(3vh * 0.7);
              font-family: 'Inter';
              font-weight: 600;
              color:#343741;
              //line-height: 20px;
              
            }

        }
      
        // & .upgrade-container {
        //   align-self: stretch;
        //   height: 48px;
        //   flex-direction: column;
        //   justify-content: flex-start;
        //   align-items: center;
        //   gap: 8px;
        //   display: flex;
      
        //   & .upgrade-text {
        //     flex: 1 1 0;
        //     text-align: center;
        //     color: $primary-color;
        //     font-size: calc(3vh * 0.4);
        //     font-family: 'Inter';
        //     font-weight: 400;
        //     line-height: 24px;
        //     word-wrap: break-word;
        //   }
        // }
      
        
        .teammember {
              display: flex;
              margin-bottom: 20px;
          
              & .team-member-icon {
                  display: flex;
          
                  & img {
                      height: calc($people-height * 0.20);
                      border-radius: 100px;
                      background: #FFF;
                      opacity: 60%;
          
                  }
              }
          
              & .emptyname {
                  width: calc(($mainbox-width / 4) - ($people-height * 0.20) - ($mainbox-width * 0.04) - 60px);
                  min-width: fit-content;
                  height: calc($people-height * 0.10);
                  margin: 0 calc($mainbox-width * 0.04);
                  margin-top: 16px;
                  border-radius: 9px;
                  background: rgba(217, 217, 217, 0.30);
              }
          }
          
          .collaborate {
              display: flex;
              flex-direction: column;
              align-self: stretch;
              color: var(--text-subdued-text, #ACACAC);
              text-align: center;
              font-size: 22px;
              font-family: DM Sans;
              font-weight: 500;
              line-height: 140%;
          }
          
          .invite-button {
              width: 100%;
              margin-top: -8px;
          
              & button {
                  display: flex;
                  height: 43px;
                  padding: 18px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 8px;
                  background: var(--accent-yellow-dark, #FEC514);
                  border: #FEC514;
                  color: #000;
                  margin: auto;
              }
          }


        //   .Front {
        //     width: 336px;
        //     height: 192px;
        //     position: relative;
        //     border-radius: 10px;
        //     overflow: hidden;
        //     background-color: white;
        //     border-style: dotted;
          
        //     .Shape {
        //       width: 194.38px;
        //       height: 192px;
        //       left: 150px;
        //       top: 0;
        //       position: absolute;
          
        //       .Subtract {
        //         position: absolute;
                
        //       }
        //     }
          
        //     .Frame2080 {
        //       display: flex;
        //       flex-direction:row;
        //       left: 195.47px;
        //       top: 16px;
        //       gap:5px;
        //       position:relative;
        //       color: #FFF;
        //       font-family: Inter;
        //       font-size: 9px;
        //       font-style: normal;
        //       font-weight: 600;
        //       & .tagline{
        //         font-size: 7px;
        //       }
        //     }
          
        //     .YourNamePosition {
        //       width: 65px;
        //       height: 29px;
        //       left: 25px;
        //       top: 25px;
        //       position: absolute;
          
        //       .Position {
        //         left: 0;
        //         top: 19px;
        //         position: absolute;
        //         color: black;
        //         font-size: 8px;
        //         font-family: Inter;
        //         font-weight: 400;
        //         word-wrap: break-word;
        //       }
          
        //       .Name {
        //         left: 0;
        //         top: 0;
        //         position: absolute;
          
        //         span {
        //           color: black;
        //           font-size: 14px;
        //           font-family: Inter;
        //           font-weight: 700;
        //           word-wrap: break-word;
          
        //           &.span {
        //             color: #0071bc;
        //           }
          
        //           &.doe {
        //             color: #999af2;
        //           }
        //         }
        //       }
        //     }
          
        //     .Contract {
        //       position: absolute;
        //       height: 38.46%;
        //       width: 98.89%;
        //       top: 61.54%;
        //       right: 2.11%;
        //       bottom: 0;
        //       left: 7%;
          
        //      & .Address,.Email,.Number{
        //         color: #000;
        //         font-family: Inter;
        //         font-size: 8px;
        //         font-style: normal;
        //         font-weight: 300;
        //         line-height: 2.3vh;
                
        //      }
        //     }
          
            
        //     .Tagline {
        //       width: 68px;
        //       height: 9px;
        //       left: 230px;
        //       top: 36px;
        //       position: absolute;
        //       color: white;
        //       font-size: 8px;
        //       font-family: Inter;
        //       font-weight: 700;
        //       word-wrap: break-word;
        //     }

        //   }