.create-account{
    margin-top: 5vh;
    max-height: 90vh;
    width: 50vw;
    min-width: fit-content;
    left: 0;
    margin-left: 25vw;
    margin-right: 25vw;
    & .team-member-input{
        & .email-input{
            width: calc(80% - 40px - 7vw);
        }
        & button{
            margin-left: 20px;
            width: 7vw;
            background-color: #A2ABBA;
            color: white;
            border: 1.5px solid transparent;
        }
        & input{
            margin-bottom: 20px;
        }
    }
}

$dashboard-width: calc(100vw - 240px - 8vw);
$body-width: calc(100vh - 2vw - 15vh - 50px - 4vh);
.business-dashboard{
    width: $dashboard-width;
    & .business-dashboard-title, .business-dashboard-body{
        border-radius: 20px;
        background-color: white;
    }
    & .business-dashboard-title{
        height: 15vh;
        margin-bottom: 1vw;
    }
    & .business-dashboard-body{
        height: $body-width;
    }
}