/* CSS for the header */
.header {
    /*background-color: black;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}

.page {
    display: flex;
    background: radial-gradient(14.11cm 8.89% at 5cm 10cm, rgba(2, 2, 132, 0.88) 0%, black 100%);
    height: 4800px;
    width: 100vw;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.ricky {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/images/blue_logo.png"), url("../../../public/images/green_logo.png"), url("../../../public/images/blue_logo_side.png"), url("../../../public/images/vec1.png"), url("../../../public/images/vec2.png");
    background-position: 20% 10.5cm, 0cm 2cm, top right, 2cm 8.5cm, -0.1cm 30cm;
}

.circle {
    background-image: url("../../../public/images/green_profile_logo.png");
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.text {
    margin-right: 30px;
    font-display: 16;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.buttons {
    margin-block: 15px;
    position: fixed;
    top: 0;
    right: 0%;
}

.signup {
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 112px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-family: "Europa", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    gap: 4px;
    margin-right: 12px;
}

.login {
    margin-top: 10px;
    margin-right: 12px;
    padding: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 112px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-family: "Europa", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: white;
}

.center_head {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 803px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    color: white;
}

.mission {
    margin-top: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1016px;
    height: 90px;
    font-weight: bolder;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: rgba(179, 208, 203, 0.949);
}

.signout {
    padding: 10px 10px;
    box-sizing: border-box;
    width: 11px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-family: "Europa", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: white;
    gap: 4px;
    margin-right: 12px;
}

.Features {
    font-style: normal;
    font-size: medium;
}

.about {
    font-style: normal;
    font-size: medium;
}

.page-1{
    width: 100vw;
    text-align: center;
}
.free-trial{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    & .form-floating{
        width: 25vw;
        margin-right: -1px;
        & input{
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-style: solid;
            border-color: transparent;
        }
    }
    & button{
        width: 15vw;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: 500;
    }
    & button, input{
        height: 65px !important;
    }
}

/*# sourceMappingURL=homepage.css.map */